# Your Tinkoff Invest API Token (v2)
TINKOFF_TOKEN=your_token_here

# Your Tinkoff Account ID (Optional. If not set, the bot will use the first available account)
ACCOUNT_ID=your_account_id_here

# Set to "invest-public-api.tinkoff.ru:443" for real trading, or "sandbox-invest-public-api.tinkoff.ru:443" for sandbox
TINKOFF_TARGET=invest-public-api.tinkoff.ru:443
